{% extends 'education_content/base.html' %}


{% block content %}
    {% load my_tags %}
    <main class="form-signin row">
        <style>
            .pano-image {
                width: 100%;
                height: 80vh;
            }

            .desc-container_class {
                max-width: 500px;
                max-height: 500px;
                min-width: 200px;
                min-height: 250px;
                background: #2b3035ff;
                color: #ffffff;
                border-radius: 10px;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }

            .youtube_iframe {
                width: 100%;
                height: 100%;
            }

            .preview_image {
                border: none;
                width: 500px;
                max-height: 250px;
                object-fit: cover;
            }

            .title {
                font-size: 1.5em;
                text-align: center;
                padding: 5px;
            }

            .text {
                padding: 0 15px 15px 15px;
                text-align: justify;
            }

            .md_image-container_for_window {
                position: relative;
                display: inline-block;
                width: 500px;
                height: 250px;
            }

            .md_overlay-text_left {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-100%, -60%);
                opacity: 0;
                transition: opacity 0.5s;
                pointer-events: none; /* Чтобы overlay-text не мешал кликам на изображение */
                text-align: center;
                font-weight: bold;
            }

            .md_overlay-text_right {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(0%, -60%);
                opacity: 0;
                transition: opacity 0.5s;
                pointer-events: none; /* Чтобы overlay-text не мешал кликам на изображение */
                text-align: center;
                font-weight: bold;
            }

            .md_image-container_for_window:hover .md_overlay-text_left {
                opacity: 0.95;
            }

            .md_image-container_for_window:hover .md_overlay-text_right {
                opacity: 0.95;
            }

            .wrapper {
                position: relative;
                width: 100%;
                height: 250px;
                overflow: hidden;
            }

            .figure_3d_iframe_class {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>
        <div class="col-12 col-md-10 m-auto">
            <section class="py-3 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-12 col-md-8 mx-auto">
                        <h1 class="fw-light">{{ object }}</h1>
                        <p class="lead text-body-secondary">{{ object.description }}</p>
                        {% if object.owner == user or user.is_staff %}
                            <p>

                                {% if not object.is_published %}
                                    <a href="{% url 'education_content:material_edit' pk=object.pk %}"
                                       class="btn btn-sm w-100 btn-outline-primary my-2">Edit</a>

                                    <a href="{% url 'education_content:material_delete' pk=object.pk %}"
                                       class="btn btn-sm w-100 btn-outline-danger my-2">Delete</a>
                                {% endif %}

                                {% if object.is_published_requested %}
                                    <a href="{% url 'education_content:change_published_requested_status' model='Material' pk=object.pk %}"
                                       class="btn btn-sm w-100 btn-outline-warning my-2">Withdraw request
                                        {% if object.is_published %}to stop
                                            publication{% else %}for publication{% endif %}</a>
                                {% else %}
                                    <a href="{% url 'education_content:change_published_requested_status' model='Material' pk=object.pk %}"
                                       class="btn btn-sm w-100 btn-outline-success my-2">Request
                                        {% if object.is_published %}to stop
                                            publication{% else %}for publication{% endif %}</a>
                                {% endif %}

                                {% if user.is_staff and object.is_published_requested %}
                                    {% if not object.is_published %}
                                        <a href="{% url 'education_content:change_published_status' model="Material" pk=object.pk %}"
                                           class="btn btn-sm w-100 btn-outline-success my-2">Start publication</a>
                                    {% else %}
                                        <a href="{% url 'education_content:change_published_status' model="Material" pk=object.pk %}"
                                           class="btn btn-sm w-100 btn-outline-warning my-2">Stop publication</a>
                                    {% endif %}
                                {% endif %}
                            </p>
                        {% endif %}
                        {% if test %}
                            {% if test.is_published %}
                                <div class="d-flex gap-3 justify-content-center lead fw-normal">
                                    <a class="icon-link"
                                       href="{% url 'tests:test_run' test_pk=test.pk %}">
                                        Take the test "{{ test }}"
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             class="bi">
                                            <use xlink:href="#chevron-right"/>
                                        </svg>
                                    </a>
                                </div>
                            {% elif object.owner == user %}
                                <div class="d-flex gap-3 justify-content-center lead fw-normal">
                                    <a class="icon-link"
                                       href="{% url 'tests:test_view' pk=test.pk %}">
                                        Edit the test "{{ test }}"
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             class="bi">
                                            <use xlink:href="#chevron-right"/>
                                        </svg>
                                    </a>
                                </div>
                            {% endif %}
                        {% elif object.owner == user %}
                            <div class="d-flex gap-3 justify-content-center lead fw-normal">
                                <a class="icon-link"
                                   href="{% url 'tests:test_create_for_special_material' material_pk=object.pk %}">
                                    Create a test
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         class="bi">
                                        <use xlink:href="#chevron-right"/>
                                    </svg>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
            <div class="position-relative overflow-hidden p-3 p-md-5 mx-md-5 bg-body-tertiary">
                <div class="album py-5 bg-body-tertiary">
                    <div class="container-fluid">
                        {{ object.text | replace_figure_tags:material_photos_list | safe }}
                    </div>
                </div>
            </div>
        </div>

        <div id="desc-container" class="desc-container_class" style="display:none">
            <div class="wrapper">
                <iframe id="figure_3d_iframe" class="figure_3d_iframe_class" width="100%" height="100%" allowfullscreen
                        loading="lazy"
                        frameborder="0"
                        src=""></iframe>
            </div>
            <div id="figures_thin_section_window" class="md_image-container_for_window">
                <a class="md_image-container_href" href="">
                    <img id="figures_thin_section_window_img" src="" class="md_image"
                         style="width: 500px; height: 250px; object-fit: cover;" alt="">
                    <div class="md_overlay-text_left d-none d-md-block">
                        <img class="mb-0" src="/media/asserts/favicon.ico" alt="" width="128" height="128">
                        <h6 class="text-white">CLICK TO OPEN IN VIRTUAL MICROSCOPE MODE</h6>
                    </div>
                    <div class="md_overlay-text_right d-none d-md-block">
                        <img class="mb-0" src="/media/asserts/favicon.ico" alt="" width="128" height="128">
                        <h6 class="text-white">CLICK TO OPEN IN VIRTUAL MICROSCOPE MODE</h6>
                    </div>

                </a>
            </div>
            <img class="preview_image" src="" alt="">
            <iframe class="youtube_iframe" src="" title="" allow="autoplay; encrypted-media" allowfullscreen
                    style="width: 500px; height: 281px;"></iframe>
            <div class="title"></div>
            <div class="text"></div>
        </div>
        <script src="/static/js/360view/three.min.js"></script>
        <script src="/static/js/360view/panolens.min.js"></script>
        <script>
            let panoramaDict;
            let panoramaList;
            let mainPanoramaId;
            if ('{{ pano_view_dict }}') {
                panoramaDict = JSON.parse('{{ pano_view_dict | escapejs }}');
                panoramaList = Object.values(panoramaDict);
            }
            const material_photos_list = JSON.parse('{{ material_photos_list_json | safe }}');
            const infoSpotDict = JSON.parse('{{ info_spot_dict | escapejs }}');
            const infoSpotCoordList = JSON.parse('{{ info_spot_coordinates_list | escapejs }}');
            const linkSpotCoordList = JSON.parse('{{ link_spot_coordinates_list | escapejs }}');
        </script>
        <script src="/static/js/pano_view_widget/pano_view_widget.js"></script>
        <script src="/static/js/map_view_widget/map_view_widget.js"></script>
    </main>
{% endblock %}