{% extends 'education_content/base.html' %}

{% block content %}

    <main class="form-signin w-100 m-auto">
        <div class="row">

            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-5 text-center bg-body-tertiary">
                <div class="d-md-flex flex-md-equal container my-md-3 ps-md-3">

                    <form method="post" enctype="multipart/form-data">
                        <img class="mb-4" id="themeImage" src="/media/decor/favicon.ico" alt="" width="128"
                             height="128">
                        <h1 class="h3 mb-3 fw-normal">Taking a test</h1>
                        {% csrf_token %}
                        <h1 class="fw-light">{{ test }}</h1>
                        <p class="lead text-body-secondary">{{ test.description }}</p>
                        {% if question_list %}
                            <div class="album py-5 bg-body-tertiary">
                                <div class="container-fluid">
                                    <div class="row g-3">
                                        {% for question in question_list %}
                                            {% include 'tests/includes/inc_question_card.html' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-success">
                            Submit
                        </button>
                    </form>


                </div>

            </div>
        </div>
    </main>
{% endblock %}