{% extends 'education_content/base.html' %}

{% block content %}
    <main>

        <section class="py-3 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-12 col-md-8 mx-auto">
                    <h1 class="fw-light">Tests</h1>
                    <p class="lead text-body-secondary">Here you can view all tests</p>

                    <div class="d-flex gap-3 justify-content-center lead fw-normal">
                        <a class="icon-link"
                           href="{% url 'tests:test_create' %}">
                            Create new test
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 class="bi">
                                <use xlink:href="#chevron-right"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-body-tertiary">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for object in object_list %}
                        {% include 'tests/includes/inc_test_card.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>
{% endblock %}