{% extends 'education_content/base.html' %}

{% block content %}
    {% load my_tags %}
    <style>
        .pano-image {
            width: 100%;
            height: 80vh;
        }
    </style>
    <main class="form-signin w-100 m-auto">
        <section class="py-3 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-12 col-md-8 mx-auto">
                    <h1 class="fw-light">{{ object }}</h1>
                    <p class="lead text-body-secondary">{{ object.description }}</p>
                </div>
            </div>
        </section>
        <div class="overflow-hidden p-0 pt-5 p-md-5 pb-md-2 m-md-5 text-center bg-body-tertiary">
            <div class="position-relative album py-0 bg-body-tertiary">

                <div class="pano-image">

                </div>

            </div>
        </div>
        <script src="/static/js/360view/three.min.js"></script>
        <script src="/static/js/360view/panolens.min.js"></script>
        <script>
            const panoImage = document.querySelector('.pano-image');
            const imgId = '{{ object.pk }}';
            const imgPath = '{{ object.view | mediapath_filter }}';
            const panoramaDict = JSON.parse('{{ pano_view_dict | escapejs }}');
            const panoramaList = Object.values(panoramaDict);
            const infoSpotDict = JSON.parse('{{ info_spot_dict | escapejs }}');
            const infoSpotCoordList = JSON.parse('{{ info_spot_coordinates_list | escapejs }}');
            const linkSpotCoordList = JSON.parse('{{ link_spot_coordinates_list | escapejs }}');
        </script>
        <script>
            let infoSpotCoordListForCurrentId = [];
            let infoSpot;
            let panorama_to;
            let viewerPanoList = [];
            const viewer = new PANOLENS.Viewer({
                container: panoImage, // A Element container
                autoRotate: true,
                autoRotateSpeed: 0.2,
                controlBar: true, // Vsibility of bottom control bar
                controlButtons: ['fullscreen', 'video'], // Buttons array in the control bar. Default to ['fullscreen', 'setting', 'video']
                autoHideControlBar: false, // Auto hide control bar
                autoHideInfospot: true, // Auto hide infospots
                horizontalView: false, // Allow only horizontal camera control
                cameraFov: 70, // Camera field of view in degree
                reverseDragging: false, // Reverse orbit control direction
                enableReticle: false, // Enable reticle for mouseless interaction
                dwellTime: 1500, // Dwell time for reticle selection in millisecond
                autoReticleSelect: true, // Auto select a clickable target after dwellTime
                viewIndicator: true, // Adds an angle view indicator in upper left corner
                indicatorSize: 60, // Size of View Indicator
                output: 'console' // Whether and where to output infospot position. Could be 'console' or 'overlay'
            });

            if (imgId) {
                const panorama = new PANOLENS.ImagePanorama(imgPath);

                for (let item of infoSpotCoordList) {
                    if (item['panorama_id'] == imgId) {
                        infoSpot = new PANOLENS.Infospot(250, PANOLENS.DataImage.Info);
                        infoSpot.position.set(item['coord_X'], item['coord_Y'], item['coord_Z']);
                        infoSpot.addHoverText(infoSpotDict[item['info_spot_id']]['title']);
                        panorama.add(infoSpot);
                        infoSpotCoordListForCurrentId.push(infoSpot);
                    }
                }

                viewerPanoList.push(panorama);


            } else {
                for (let item of linkSpotCoordList) {
                    if (item['panorama_from_id'] == imgId) {
                        panorama_to = new PANOLENS.ImagePanorama(panoramaDict[item['panorama_to_id']]['view']);
                        panorama_to.addEventListener('progress', function (e) {
                            console.log(e.progress);
                        });
                        panorama.link(panorama_to, new THREE.Vector3(item['coord_X'], item['coord_Y'], item['coord_Z']));
                        viewerPanoList.push(panorama_to);
                        console.log(panoramaDict[item['panorama_to_id']]);
                    }

                }
                console.log(panoramaDict);
            }
            viewer.add(...viewerPanoList);


        </script>
    </main>
{% endblock %}