{% extends 'education_content/base.html' %}

{% block content %}
    {% load my_tags %}
    <main class="form-signin w-100 m-auto">

        <section class="py-3 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-12 col-md-8 mx-auto">
                    <h1 class="fw-light">{{ object }}</h1>
                    <p class="lead text-body-secondary">{{ object.description }}</p>
                </div>
            </div>
        </section>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-5 text-center bg-body-tertiary">
            <div class="album py-5 bg-body-tertiary">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6 align-items-center">
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <h5 class="m-0">Nicols rotation angle</h5>
                                <div class="progress w-75 m-1" id="frameNumber1_set" role="progressbar"
                                     aria-label="Basic progressbar"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="359" style="height: 20px">
                                    <div class="progress-bar bg-success" id="frameNumber1" style="user-select: none;">
                                        0
                                    </div>
                                </div>
                                <h5 class="m-0">Stage rotation angle</h5>
                                <div class="progress w-75 m-1" id="frameNumber2_set" role="progressbar"
                                     aria-label="Basic progressbar"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="359" style="height: 20px">
                                    <div class="progress-bar bg-primary" id="frameNumber2" style="user-select: none;">
                                        0
                                    </div>
                                </div>
{#                                <h5 class="m-0">Auto-rotation speed</h5>#}
{#                                <div class="progress w-75 m-1" id="frameNumber3_set" role="progressbar"#}
{#                                     aria-label="Basic progressbar"#}
{#                                     aria-valuenow="1" aria-valuemin="0.5" aria-valuemax="2" style="height: 20px">#}
{#                                    <div class="progress-bar bg-primary" id="frameNumber3" style="user-select: none; width: 33%">#}
{#                                        1#}
{#                                    </div>#}
{#                                </div>#}

                                <button type="button" class="btn btn-success w-75 m-1" id="rotateButton"
                                        style="z-index: 3;"
                                        onclick="toggleRotation()">Enable stage rotation
                                </button>
                                <button type="button" class="btn btn-info w-75 m-1" id="modeButton"
                                        style="z-index: 3;"
                                        onclick="toggleMode()">СPL mode
                                </button>
                                <button type="button" class="btn btn-warning w-75 m-1" id="mineralsButton"
                                        style="z-index: 3;"
                                        onclick="toggleMinerals()">Mineral labels on
                                </button>
                                <button type="button" class="btn btn-danger w-75 m-1 mb-3" id="autoRotateButton"
                                        style="z-index: 3;"
                                        onclick="toggleAutoRotate()">Auto-rotate mode on
                                </button>

                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div id="videoPlayerBlock" style="position: relative">
                                <video class="w-100" id="videoPlayer" preload="auto" type="video/mp4">
                                    Ваш браузер не поддерживает видео.
                                </video>
                                {% if labels_list %}
                                    {% for label in labels_list %}
                                        <div class="label-container"
                                             style="position: absolute;left: {{ label.coord_X }}%; top: {{ label.coord_Y }}%; z-index: 2;  display: none;">
                                            <h5 class="text-danger font-weight-bold m-0"
                                                style="user-select: none;">{{ label.mineral.abbreviation }}</h5>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script defer>

        const filePPL = "{{ object.file_ppl | mediapath_filter }}";
        const fileCPL = "{{ object.file_cpl | mediapath_filter }}";

    </script>
    <script>
        let videoPlayer = document.getElementById('videoPlayer');
        let videoPlayerBlock = document.getElementById('videoPlayerBlock');
        let frameNumberProgress = document.getElementById('frameNumber1');
        let frameNumberProgress_set = document.getElementById('frameNumber1_set');
        let stageNumberProgress = document.getElementById('frameNumber2');
        let stageNumberProgress_set = document.getElementById('frameNumber2_set');
        {#let speedProgress = document.getElementById('frameNumber3');#}
        {#let speedProgress_set = document.getElementById('frameNumber3_set');#}
        let rotateButton = document.getElementById('rotateButton');
        let autoRotateButton = document.getElementById('autoRotateButton');
        let modeButton = document.getElementById('modeButton');
        let mineralsButton = document.getElementById('mineralsButton');
        let isRotating = false;
        let isDragging = false;
        let isSettingFrame = false;
        let isSettingAngle = false;
        let isSettingSpeed = false;
        let isMineralsOn = false;
        let isAutoRotating = false; // Variable to track auto-rotation state
        let isParallelMode = true; // Default mode is "PPL"
        let totalFrames = 360;
        let duration = 12;
        // Set the rotation speed and play the video
        let rotatingSpeed = 1;
        let autoRotationFrameRate = 50; // frames per second
        let autoRotateIntervalId;
        let isEvenFrame = false;
        let isOnPosition = false;

        let nullPoint = 0;
        let nullFrame = 0;
        let nullAngle = 0;
        let currentFrame = 0;
        let currentAngle = 0;
        {#let tempFrame = 0;#}

        // Blob objects to store video data
        let videoBlobA, videoBlobB;

        // Fetch video files and create Blobs
        fetch(fileCPL)
            .then(response => response.blob())
            .then(blob => {
                videoBlobA = blob;

            });

        fetch(filePPL)
            .then(response => response.blob())
            .then(blob => {
                videoBlobB = blob;
                // Set initial video source
                videoPlayer.src = URL.createObjectURL(blob);
            });

        function toggleMode() {
            isParallelMode = !isParallelMode;

            if (isParallelMode) {
                modeButton.textContent = 'СPL mode';
                videoPlayer.src = URL.createObjectURL(videoBlobB);
            } else {
                modeButton.textContent = 'PPL mode';
                videoPlayer.src = URL.createObjectURL(videoBlobA);
            }

            updateFrame();
        }

        function toggleMinerals() {
            isMineralsOn = !isMineralsOn;
            let labels = document.querySelectorAll('.label-container');

            labels.forEach(label => {
                label.style.display = isMineralsOn ? 'block' : 'none';
            });

            if (!isOnPosition) {
                positionLabels();
            }
        }

        function positionLabels() {
            let labels = document.querySelectorAll('.label-container');

            labels.forEach(label => {
                let coordX = label.style.left;
                let coordY = label.style.top;

                // Getting the parent container
                let parentContainer = document.getElementById('videoPlayer');

                // Converting percentages to pixels for X and Y
                let pixelX = ((parentContainer.offsetWidth * parseFloat(coordX) / 100) - label.offsetWidth / 2) / parentContainer.offsetWidth * 100;
                let pixelY = ((parentContainer.offsetHeight * parseFloat(coordY) / 100) - label.offsetHeight / 2) / parentContainer.offsetHeight * 100;

                // Set coordinates in %
                label.style.left = pixelX + '%';
                label.style.top = pixelY + '%';
            });

            isOnPosition = true;
        }


        function toggleRotation() {
            isRotating = !isRotating;
            if (isRotating) {
                rotateButton.textContent = 'Disable stage rotation';
            } else {
                rotateButton.textContent = 'Enable stage rotation';
            }
        }

        function toggleAutoRotate() {
            isAutoRotating = !isAutoRotating;

            if (isAutoRotating) {
                autoRotateIntervalId = setInterval(autoRotateFrames, 1000 / 30); // Вызываем autoRotateFrames каждый кадр (N кадров в секунду)
                autoRotateButton.textContent = 'Auto-rotate mode off'; // Change button text when auto-rotate is on
            } else {
                clearInterval(autoRotateIntervalId);
                autoRotateButton.textContent = 'Auto-rotate mode on'; // Change button text when auto-rotate is off
            }
        }

        function rotateThinSection() {
            // Implementation of video rotation
            videoPlayerBlock.style.transform = `rotate(${currentAngle}deg)`;
            // Compensation rotation for labels
            let labels = document.querySelectorAll('.label-container');
            labels.forEach(label => {
                label.style.transform = `rotate(-${currentAngle}deg)`;
            });
        }

        function autoRotateFrames() {
            // Считаем новый кадр в зависимости от времени
            currentFrame = (currentFrame + rotatingSpeed) % 360; // rotatingSpeed * 30 / 12 - скорость приращения
            if (isRotating) {
                currentAngle = Math.round((currentAngle + rotatingSpeed) % 360); // rotatingSpeed * 30 / 12 - скорость приращения
            }
            updateFrame();
        }

        function updateFrame() {
            frameNumberProgress.style.width = `${Math.round(currentFrame / 359 * 100)}%`;
            frameNumberProgress.textContent = String(currentFrame);
            stageNumberProgress.style.width = `${Math.round(currentAngle / 359 * 100)}%`;
            stageNumberProgress.textContent = String(currentAngle);
            // Implementation of nicols rotation
            videoPlayer.currentTime = (currentFrame / totalFrames) * duration;
            if (isRotating) {
                rotateThinSection()
            }
        }

        {#videoPlayer.addEventListener('loadedmetadata', function () {#}
        {#    // Рассчитываем и присваиваем значение переменной#}
        {#    duration = videoPlayer.duration;#}
        {#    totalFrames = Math.floor(duration * 30);#}
        {# });#}

        videoPlayer.addEventListener('mousedown', function (event) {
            if (event.button === 0) { // Checking that it is the left mouse button
                isDragging = true;
                nullPoint = {x: event.clientX, y: event.clientY};
            }
        });

        frameNumberProgress_set.addEventListener('mousedown', function (event) {
            if (event.button === 0) { // Checking that it is the left mouse button
                isSettingFrame = true;
                nullPoint = {x: event.clientX, y: event.clientY};
            }
        });

        stageNumberProgress_set.addEventListener('mousedown', function (event) {
            if (event.button === 0) { // Checking that it is the left mouse button
                isSettingAngle = true;
                nullPoint = {x: event.clientX, y: event.clientY};
            }
        });

        {#speedProgress_set.addEventListener('mousedown', function (event) {#}
        {#    if (event.button === 0) { // Checking that it is the left mouse button#}
        {#        isSettingSpeed = true;#}
        {#        nullPoint = {x: event.clientX, y: event.clientY};#}
        {#    }#}
        {# });#}

        document.addEventListener('mouseup', function (event) {
            if (event.button === 0) {
                isDragging = false;
                isSettingFrame = false;
                isSettingAngle = false;
                {#isSettingSpeed = false;#}
                nullFrame = currentFrame;
                nullAngle = currentAngle;
            }
        });

        document.addEventListener('mousemove', function (event) {
            if (isDragging) {
                let percentage = ((event.clientX - nullPoint.x) / videoPlayer.offsetWidth);
                let frameValue = Math.round(percentage * 359);
                currentFrame = (nullFrame + frameValue + 1800) % 360;
                if (isRotating) {
                    currentAngle = (nullAngle + frameValue + 1800) % 360;
                }
                updateFrame();
            } else if (isSettingFrame) {
                currentFrame = Math.round(((event.clientX - frameNumberProgress_set.offsetLeft) / frameNumberProgress_set.offsetWidth) * 359)
                updateFrame();
            } else if (isSettingAngle) {
                currentAngle = Math.round(((event.clientX - stageNumberProgress_set.offsetLeft) / stageNumberProgress_set.offsetWidth) * 359)
                updateFrame();
                rotateThinSection()
            {# } else if (isSettingSpeed) { #}
            {#    rotatingSpeed = (0.5 + ((event.clientX - speedProgress_set.offsetLeft) / speedProgress_set.offsetWidth) * 1.5).toFixed(1)#}
            {#    speedProgress.style.width = `${Math.round((rotatingSpeed - 0.5) / 1.5 * 100)}%`;#}
            {#    speedProgress.textContent = String(rotatingSpeed);#}
            }

        });

        videoPlayer.addEventListener('touchstart', function (event) {
            isDragging = true;
            nullPoint = {x: event.touches[0].clientX, y: event.touches[0].clientY};
        });

        document.addEventListener('touchend', function (event) {
            isDragging = false;
            nullFrame = currentFrame;
            nullAngle = currentAngle;
        });

        document.addEventListener('touchmove', function (event) {
            if (isDragging) {
                let percentage = ((event.touches[0].clientX - nullPoint.x) / videoPlayer.offsetWidth);
                let frameValue = Math.round(percentage * 359);
                currentFrame = (nullFrame + frameValue + 1800) % 360;
                if (isRotating) {
                    currentAngle = (nullAngle + frameValue + 1800) % 360;
                }
                updateFrame();
            }
        });

    </script>
{% endblock %}