{% extends 'education_content/base.html' %}

{% block content %}
    {% load my_tags %}
    <main class="form-signin w-100 m-auto">

        <section class="py-3 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-12 col-md-8 mx-auto">
                    <h1 class="fw-light">{{ object }}</h1>
                    <p class="lead text-body-secondary">{{ object.description }}</p>
                </div>
            </div>
        </section>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-5 text-center bg-body-tertiary">
            <div class="album py-5 bg-body-tertiary">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6 align-items-center">
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <div>
                                    <label for="frameNumber">Nicols rotation angle:</label>
                                    <input type="number" id="frameNumber" min="0" max="359" value="0">
                                </div>
                                <h5>Stage rotation angle</h5>
                                <div class="progress w-50 m-1" role="progressbar" aria-label="Basic progressbar"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="359" style="height: 20px">
                                    <div class="progress-bar" id="frameNumber2">0</div>
                                </div>

                                <button type="button" class="btn btn-success w-50 m-1" id="rotateButton"
                                        onclick="toggleRotation()">Enable stage rotation
                                </button>
                                <button type="button" class="btn btn-info w-50 m-1" id="modeButton"
                                        onclick="toggleMode()">СPL mode
                                </button>
                                <button type="button" class="btn btn-warning w-50 m-1 mb-3" id="autoRotateButton" style="z-index: 2;"
                                        onclick="toggleAutoRotate()">Auto-rotate mode on
                                </button>
                            </div>

                        </div>
                        <div class="col-12 col-md-6">
                            <video class="w-100" id="videoPlayer" preload="auto">
                                Ваш браузер не поддерживает видео.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script defer>

        const filePPL = "{{ object.file_ppl | mediapath_filter }}";
        const fileCPL = "{{ object.file_cpl | mediapath_filter }}";

    </script>
    <script>
        let videoPlayer = document.getElementById('videoPlayer');
        let frameNumberInput = document.getElementById('frameNumber');
        let frameNumberProgress = document.getElementById('frameNumber2');
        let rotateButton = document.getElementById('rotateButton');
        let autoRotateButton = document.getElementById('autoRotateButton');
        let modeButton = document.getElementById('modeButton');
        let isRotating = false;
        let isDragging = false;
        let isAutoRotating = false; // Variable to track auto-rotation state
        let isParallelMode = true; // Default mode is "PPL"
        let totalFrames = 0;
        let duration = 0;
        // Set the rotation speed and play the video
        let rotatingSpeed = 1;
        let autoRotateIntervalId;

        let nullPoint = 0;
        let nullFrame = 0;
        let nullAngle = 0;
        let currentFrame = 0;
        let currentAngle = 0;

        // Blob objects to store video data
        let videoBlobA, videoBlobB;

        // Fetch video files and create Blobs
        fetch(fileCPL)
            .then(response => response.blob())
            .then(blob => {
                videoBlobA = blob;

            });

        fetch(filePPL)
            .then(response => response.blob())
            .then(blob => {
                videoBlobB = blob;
                // Set initial video source
                videoPlayer.src = URL.createObjectURL(blob);
            });

        function toggleMode() {
            isParallelMode = !isParallelMode;

            if (isParallelMode) {
                modeButton.textContent = 'СPL mode';
                videoPlayer.src = URL.createObjectURL(videoBlobB);
            } else {
                modeButton.textContent = 'PPL mode';
                videoPlayer.src = URL.createObjectURL(videoBlobA);
            }

            updateFrame();
        }

        videoPlayer.addEventListener('loadedmetadata', function () {
            // Рассчитываем и присваиваем значение переменной
            totalFrames = Math.floor(videoPlayer.duration * 30);
            duration = videoPlayer.duration;
        });

        function toggleRotation() {
            isRotating = !isRotating;
            if (isRotating) {
                rotateButton.textContent = 'Disable stage rotation';
            } else {
                rotateButton.textContent = 'Enable stage rotation';
            }
        }

        function toggleAutoRotate() {
            isAutoRotating = !isAutoRotating;

            if (isAutoRotating) {
                autoRotateIntervalId = setInterval(autoRotateFrames, 1000 / 30); // Вызываем autoRotateFrames каждый кадр (30 кадров в секунду)
                autoRotateButton.textContent = 'Auto-rotate mode off'; // Change button text when auto-rotate is on
            } else {
                clearInterval(autoRotateIntervalId);
                autoRotateButton.textContent = 'Auto-rotate mode on'; // Change button text when auto-rotate is off
            }
        }

        function rotateThinSection() {
            if (isRotating) {
                // Implementation of video rotation
                videoPlayer.style.transform = `rotate(${currentAngle}deg)`;
            }

        }

        function autoRotateFrames() {
            if (isAutoRotating) {
                // Считаем новый кадр в зависимости от времени
                currentFrame = Math.round(currentFrame + (rotatingSpeed * 30 / 12)) % 360; // rotatingSpeed * 30 / 12 - скорость приращения
                if (isRotating) {
                    currentAngle = Math.round(currentAngle + (rotatingSpeed * 30 / 12)) % 360; // rotatingSpeed * 30 / 12 - скорость приращения
                }
                updateFrame();
            }
        }

        function updateFrame() {
            frameNumberInput.value = currentFrame;
            frameNumberProgress.style.width = `${Math.round(currentAngle / 359 * 100)}%`;
            frameNumberProgress.textContent = String(currentAngle);
            let frameNumber = parseInt(frameNumberInput.value);

            if (isNaN(frameNumber) || frameNumber < 0 || frameNumber > 359) {
                alert('Введите корректное значение от 0 до 359.');
                return;
            }

            let seekTime = (frameNumber / totalFrames) * duration;
            videoPlayer.currentTime = seekTime;
            if (isRotating) {
                rotateThinSection()
            }
        }

        videoPlayer.addEventListener('timeupdate', function () {
            frameNumberInput.value = currentFrame;
            if (isRotating) {
                frameNumberProgress.style.width = `${Math.round(currentAngle / 359 * 100)}%`;
                frameNumberProgress.textContent = String(currentAngle);
            }


        });

        videoPlayer.addEventListener('mousedown', function (event) {
            if (event.button === 0) { // Checking that it is the left mouse button
                isDragging = true;
                nullPoint = {x: event.clientX, y: event.clientY};
            }
        });

        document.addEventListener('mouseup', function (event) {
            if (event.button === 0) {
                isDragging = false;
                nullFrame = currentFrame;
                nullAngle = currentAngle;
            }
        });

        document.addEventListener('mousemove', function (event) {
            if (isDragging) {
                let percentage = ((event.clientX - nullPoint.x) / videoPlayer.offsetWidth);
                let frameValue = Math.round(percentage * 359);
                currentFrame = (nullFrame + frameValue + 1800) % 360;
                if (isRotating) {
                    currentAngle = (nullAngle + frameValue + 1800) % 360;
                }
                updateFrame();
            }

        });

        videoPlayer.addEventListener('touchstart', function (event) {
            isDragging = true;
            nullPoint = {x: event.touches[0].clientX, y: event.touches[0].clientY};
        });

        document.addEventListener('touchend', function (event) {
            isDragging = false;
            nullFrame = currentFrame;
            nullAngle = currentAngle;
        });

        document.addEventListener('touchmove', function (event) {
            if (isDragging) {
                let percentage = ((event.touches[0].clientX - nullPoint.x) / videoPlayer.offsetWidth);
                let frameValue = Math.round(percentage * 359);
                currentFrame = (nullFrame + frameValue + 1800) % 360;
                if (isRotating) {
                    currentAngle = (nullAngle + frameValue + 1800) % 360;
                }
                updateFrame();
            }
        });

    </script>
{% endblock %}